.ks-total{
    &__wrapper{
        position: absolute;
        background-color: #DAEED3;
        width: 37.5%;
    }
    &__inner-wrapper{
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
    }
    &__total-number{
        margin-left: -5px;
        padding-left: 5px;
        color: #ffff;
        width: 37.5%;
        background: #5A8648;
    }
    &__target-number{
        color: #5A8648;
    }
    &__cylon{
        top: 0;
        height: 100%;
        position: absolute;
        width: 141px;
        background: linear-gradient(270deg, rgba(90, 134, 72, 0) 0%, rgba(218, 238, 211, 0.6) 24.74%, rgba(213, 234, 205, 0.6) 25.78%, rgba(90, 134, 72, 0) 50%);
        animation: 3s linear 1s infinite running move_eye;
    }
        @keyframes move_eye { from { margin-left: -5vw; } to { margin-left: 10vw; }  }
}